---
title: Experimenting with Angular
---

<section class="main" >
  <header>
    <h1>Experimenting with Angular</h1>
  </header>

  <section class="container-fluid">
<!--   <table class="table table-hover">
    <thead>
      <td>Nome</td>
      <td>Sobrenome</td>
      <td>Email</td>
      <td>Empresa</td>
    </thead>
    <tbody>
      <tr ng-repeat="address in service">
        <address-directive info='address'></address-directive>
      </tr>

    </tbody>
  </table> -->
  <address-directive></address-directive>
  </section>
</section>

